<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title>2024년 봄 세미나 일정 안내</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/design/notice_detail.css">
    <link rel="icon" href="../images/favicon.ico">
</head>

<body>
    <header>
        <nav>
            <a href="main.html" class="logo-link">
                <img src="../images/Sior_logo.jpg" alt="Sior Logo" class="logo">
            </a>
            <ul>
                <li><a href="hof.html">명예의 전당</a></li>
                <li class="dropdown">
                    <a href="seminar2024.html" class="dropbtn">세미나 ▼</a>
                    <div class="dropdown-content">
                        <a href="seminar2024.html">2024</a>
                        <a href="seminar2023.html">2023</a>
                        <a href="seminar2022.html">2022</a>
                        <a href="seminar2021.html">2021</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="exhibition2024.html" class="dropbtn">전시회 ▼</a>
                    <div class="dropdown-content">
                        <a href="exhibition2021.html">2021</a>
                        <a href="exhibition2022.html">2022</a>
                        <a href="exhibition2023.html">2023</a>
                        <a href="exhibition2024.html">2024</a>
                    </div>
                </li>
                <li><a href="notice.html">공지사항</a></li>
                <li><a href="galary.html">갤러리</a></li>
            </ul>
        </nav>
    </header>

    <section id="notice-detail">
        <h1>2024년 봄 세미나 일정 안내</h1>
        <p class="date">2024-02-10</p>
        <p>2024년 봄 세미나가 3월 15일에 개최됩니다. 이번 세미나는 최신 로봇공학 연구를 다룰 예정이며, 여러 유명한 연사가 참여할 예정입니다. 세미나 일정은 2월 말에 공지되며, 등록은 3월 초까지
            가능합니다. 자세한 정보는 세미나 페이지에서 확인하세요.</p>
    </section>

    <section id="copyright">
        <p>&copy; Copyright 2020-2022. Sungkyunkwan Institute of Robotics. All rights reserved.<br>
            Since 1985, Powered by SKKU</p>
        <div class="social-links">
            <a href="https://www.facebook.com/SKKUSIOR" target="_blank">
                <img src="../images/Facebook_logo_symbol_RGB.png" alt="Facebook">
            </a>
            <a href="https://www.instagram.com/skku_sior" target="_blank">
                <img src="../images/Instagram_Glyph_Gradient.png" alt="Instagram">
            </a>
            <a href="https://www.youtube.com/channel/UC_ffUA9hqnBd3h0tZ1_FfHg" target="_blank">
                <img src="../images/Youtube_logo.png" alt="YouTube">
            </a>
        </div>
    </section>
</body>

</html>