body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #ffffff;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: #ffffff;
    padding: 0 40px;
}

nav .logo-link {
    display: flex;
    align-items: center;
}

nav .logo {
    height: 60px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin: 0 15px;
    position: relative; /* Add this line */
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

nav ul li .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

nav ul li .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

nav ul li .dropdown-content a:hover {
    background-color: #f1f1f1;
}

nav ul li:hover .dropdown-content {
    display: block;
}

section {
    padding: 20px;
    margin: 10px 0;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 500px;
}

#copyright {
    background-color: #000000;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    border-top: 1px solid #eaeaea;
    height: 100px;
}

section .social-links {
    margin-top: 10px;
}

section .social-links a {
    margin: 0 10px;
    display: inline-block;
}

section .social-links img {
    width: 30px;
    height: 30px;
}