<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title>갤러리 - Sior</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../design/main.css">
    <link rel="stylesheet" href="../design/galary.css">
    <link rel="icon" href="../images/favicon.ico">
</head>

<body>
    <header>
        <nav>
            <a href="main.html" class="logo-link">
                <img src="../images/Sior_logo.jpg" alt="Sior Logo" class="logo">
            </a>
            <ul>
                <li><a href="hof.html">명예의 전당</a></li>
                <li class="dropdown">
                    <a href="seminar2024.html" class="dropbtn">세미나 ▼</a>
                    <div class="dropdown-content">
                        <a href="seminar2024.html">2024</a>
                        <a href="seminar2023.html">2023</a>
                        <a href="seminar2022.html">2022</a>
                        <a href="seminar2021.html">2021</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="exhibition2024.html" class="dropbtn">전시회 ▼</a>
                    <div class="dropdown-content">
                        <a href="exhibition2021.html">2021</a>
                        <a href="exhibition2022.html">2022</a>
                        <a href="exhibition2023.html">2023</a>
                        <a href="exhibition2024.html">2024</a>
                    </div>
                </li>
                <li><a href="notice.html">공지사항</a></li>
                <li><a href="galary.html">갤러리</a></li>
            </ul>
        </nav>
    </header>

    <section id="galary">
        <h1>갤러리</h1>
        <div class="image-grid">
            <div class="image-item">
                <img src="../images/Facebook_logo_symbol_RGB.png" alt="페이스북 로고">
                <p>페이스북 로고</p>
            </div>
            <div class="image-item">
                <img src="../images/Instagram_Glyph_Gradient.png" alt="인스타그램 로고">
                <p>인스타그램 로고</p>
            </div>
            <div class="image-item">
                <img src="../images/Youtube_logo.png" alt="유튜브 로고">
                <p>유튜브 로고</p>
            </div>
            <div class="image-item">
                <img src="../images/Sior_logo.jpg" alt="SIOR 로고">
                <p>SIOR 로고</p>
            </div>
        </div>
    </section>

    <section id="copyright">
        <p>&copy; Copyright 2020-2022. Sungkyunkwan Institute of Robotics. All rights reserved.<br>
            Since 1985, Powered by SKKU</p>
        <div class="social-links">
            <a href="https://www.facebook.com/SKKUSIOR" target="_blank">
                <img src="../images/Facebook_logo_symbol_RGB.png" alt="Facebook">
            </a>
            <a href="https://www.instagram.com/skku_sior" target="_blank">
                <img src="../images/Instagram_Glyph_Gradient.png" alt="Instagram">
            </a>
            <a href="https://www.youtube.com/channel/UC_ffUA9hqnBd3h0tZ1_FfHg" target="_blank">
                <img src="../images/Youtube_logo.png" alt="YouTube">
            </a>
        </div>
    </section>
</body>

</html>