<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title>SIOR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../design/main.css">
    <link rel="icon" href="../images/favicon.ico">
    <!-- IBM Plex Sans KR Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
    <!-- Orbit Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Orbit&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <a href="main.html" class="logo-link">
                <img src="../images/Sior_logo.jpg" alt="Sior Logo" class="logo">
            </a>
            <ul>
                <li><a href="hof.html">명예의 전당</a></li>
                <li class="dropdown">
                    <a href="seminar2024.html" class="dropbtn">세미나 ▼</a>
                    <div class="dropdown-content">
                        <a href="seminar2024.html">2024</a>
                        <a href="seminar2023.html">2023</a>
                        <a href="seminar2022.html">2022</a>
                        <a href="seminar2021.html">2021</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="exhibition2024.html" class="dropbtn">전시회 ▼</a>
                    <div class="dropdown-content">
                        <a href="exhibition2024.html">2024</a>
                        <a href="exhibition2023.html">2023</a>
                        <a href="exhibition2022.html">2022</a>
                        <a href="exhibition2021.html">2021</a>
                    </div>
                </li>
                <li><a href="notice.html">공지사항</a></li>
                <li><a href="galary.html">갤러리</a></li>
            </ul>
        </nav>
    </header>

    <section id="home">
        <h1 class="typing-effect">Welcome to SIOR</h1>
        <img src="../images/Sior_intro.jpg" alt="Sior Intro" class="intro">
        <p>SIOR는 1985년 이택종 교수님의 지도하에 만들어져 39년째 활발히 활동하고 있는 정보통신대학 소속 로봇학회입니다. 동아리 이름은 Sungkyunkwan Institute Of
            Robotics의 약자로 [사이어]로 발음합니다.
        </p>
    </section>

    <section id="about">
        <div class="about-container">
            <h2>About Us</h2>
            <div class="about-content">
                <div class="about-text">
                    <p>SIOR 동아리방에는 로봇 제작에 필요한 다양한 장비가 마련되어 있어 회원들은 추가적인 장비 구입 없이 원하는 로봇을 마음껏 만들 수 있습니다.</p>
                    <p>전체적인 로봇 설계, 제작뿐만 아니라 로봇에 활용되는 IoT, 임베디드, 소프트웨어 개발도 하는 동아리원도 많습니다.</p>
                    <p>만들고 싶은 로봇은 있는데 그 방법을 잘 모르겠다면, <strong>매주 화요일 저녁</strong> 동아리 정기모임에 참가하여 기초부터 탄탄히 배워나갈 수 있습니다.</p>
                    <p>이미 충분히 실력을 가진 학우분들이라면 든든한 SIOR 학우들과 함께 대회에도 출전해보세요.</p>
                </div>
                <div class="about-images">
                    <img src="../images/robot/robot_arm.PNG" alt="Robot Image 1">
                    <img src="../images/robot/jumping_robot.PNG" alt="Robot Image 2">
                    <img src="../images/robot/snake_robot.PNG" alt="Robot Image 3">
                    <img src="../images/robot/si_pass.PNG" alt="Robot Image 4">
                    <img src="../images/robot/robot.PNG" alt="Robot Image 5">
                </div>
            </div>
        </div>
    </section>


    <section id="services">
        <h2>Our Services</h2>
        <div class="card-container">
            <div class="card">
                <h3>정기 전시회</h3>
                <p>학회 창단 이래로 매년 진행해오는 연례행사로, 1년 동안 학회 활동을 통해 얻은 경험과 지식, 혹은 평소에 실현해보고싶었던 자신만의 아이디어를 작품으로 만들어낼 수 있는 SIOR의
                    가장 큰 행사입니다. 매년 1학년부터 4학년까지 다양한 학년의 학생들이 모여 함께 독창적인 전시 작품을 만들어가고 있습니다.</p>
            </div>
            <div class="card">
                <h3>스터디</h3>
                <p>로봇과 관련된 다양한 분야에 대해 함께 팀을 이루어 스터디를 진행합니다. 다양한 스터디를 통해 전공 및 관심 분야에 대한 깊은 지식을 얻어갈 수 있습니다.</p>
            </div>
            <div class="card">
                <h3>재학생 세미나</h3>
                <p>기존 부원들이 로봇 설계와 제작에 필요한 것들을 기초부터 알려줍니다. 이를 통해 기초 지식을 확립하고, 실전에서 활용할 수 있는 기술을 습득함으로써 자신만의 창의적인 로봇을 설계하고
                    제작하는 역량을 키울 수 있습니다.</p>
            </div>
            <div class="card">
                <h3>OB 세미나</h3>
                <p>졸업하신 선배님께서 로봇과 컴퓨터 과학 분야 등 다양한 분야에서의 경험과 지식을 전수해 주시는 자리입니다. 선배님의 소중한 경험과 조언을 통해 실무적인 인사이트를 얻고, 진로에 대한
                    방향성을 모색할 수 있는 귀중한 시간입니다.</p>
            </div>
        </div>
    </section>


    <section id="contact">
        <h2>Contact Us</h2>
        <p>🤖 동아리방 위치:
            제1공학관 지하1층 22002B</p>
        <p>💬 카카오톡 링크:
            <a href="https://open.kakao.com/o/gKwEQj2f" target="_blank" rel="noopener noreferrer">SIOR 문의 톡방</a>
        </p>
        ⭐️ 인스타 ID: @skku_sior</p>
    </section>

    <section id="copyright">
        <p>&copy; Copyright 2020-2022. Sungkyunkwan Institute of Robotics. All rights reserved.<br>
            Since 1985, Powered by SKKU</p>
        <div class="social-links">
            <a href="https://www.facebook.com/SKKUSIOR" target="_blank">
                <img src="../images/Facebook_logo_symbol_RGB.png" alt="Facebook">
            </a>
            <a href="https://www.instagram.com/skku_sior" target="_blank">
                <img src="../images/Instagram_Glyph_Gradient.png" alt="Instagram">
            </a>
            <a href="https://www.youtube.com/channel/UC_ffUA9hqnBd3h0tZ1_FfHg" target="_blank">
                <img src="../images/Youtube_logo.png" alt="YouTube">
            </a>
        </div>
    </section>
    <script>
        // 타이핑 애니메이션이 완료된 후 커서 제거
        document.addEventListener('DOMContentLoaded', () => {
            const typingEffect = document.querySelector('.typing-effect');
            typingEffect.addEventListener('animationend', () => {
                // 애니메이션이 끝난 후 클래스 추가
                typingEffect.classList.add('finished');
            });
        });
    </script>
</body>

</html>