<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>세미나 목록</title>
    <link rel="stylesheet" href="../design/seminar.css">
</head>
<body>
    <header>
        <nav>
            <a href="main.html" class="logo-link">
                <img src="../images/Sior_logo.jpg" alt="Sior Logo" class="logo">
            </a>
            <ul>
                <li><a href="intro.html">소개</a></li>
                <li><a href="hof.html">명예의 전당</a></li>
                <li class="dropdown">
                    <a href="seminar.html" class="dropbtn">세미나 ▼</a>
                    <div class="dropdown-content">
                        <a href="seminar2024.html">2024</a>
                        <a href="seminar2023.html">2023</a>
                        <a href="seminar2022.html">2022</a>
                        <a href="seminar2021.html">2021</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="exhibition.html" class="dropbtn">전시회 ▼</a>
                    <div class="dropdown-content">
                        <a href="exhibition2024.html">2024</a>
                        <a href="exhibition2023.html">2023</a>
                        <a href="exhibition2022.html">2022</a>
                        <a href="exhibition2021.html">2021</a>
                    </div>
                </li>
                <li><a href="galary.html">갤러리</a></li>
            </ul>
        </nav>
    </header>

    <section id="seminar-list">
        <img src="../images/seminar2023_banner.jpg" alt="배너 이미지" style="width: 100%; max-height: 200px; object-fit: cover;">
        <h2>세미나 목록</h2>
        <table>
            <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>4</td>
                    <td><a href="./page_list/seminar2023_4.html">블루투스 통신을 이용하여 서보모터 제어, LCD 화면 띄우기(세미나 4주차)</a></td>
                    <td>SIOR</td>
                    <td>2023.07.10</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><a href="./page_list/seminar2023_3.html">가변저항과 초음파센서를 이용한 DC모터 제어(세미나 3주차)</a></td>
                    <td>SIOR</td>
                    <td>2023.07.10</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><a href="./page_list/seminar2023_2.html">스위치와 저항을 이용한 기초회로 실습(세미나 2주차)</a></td>
                    <td>SIOR</td>
                    <td>2023.07.10</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><a href="./page_list/seminar2023_1.html">스마트폰으로 원격 조종하는 RC카 제작(세미나 1주차)</a></td>
                    <td>SIOR</td>
                    <td>2023.07.10</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section id="copyright">
        <p>&copy; Copyright 2020-2022. Sungkyunkwan Institute of Robotics. All rights reserved.<br>
            Since 1985, Powered by SKKU</p>
        <div class="social-links">
            <a href="https://www.facebook.com/SKKUSIOR" target="_blank">
                <img src="../images/Facebook_logo_symbol_RGB.png" alt="Facebook">
            </a>
            <a href="https://www.instagram.com/skku_sior" target="_blank">
                <img src="../images/Instagram_Glyph_Gradient.png" alt="Instagram">
            </a>
            <a href="https://www.youtube.com/channel/UC_ffUA9hqnBd3h0tZ1_FfHg" target="_blank">
                <img src="../images/Youtube_logo.png" alt="YouTube">
            </a>
        </div>
    </section>
    <script>
        // 타이핑 애니메이션이 완료된 후 커서 제거
        document.addEventListener('DOMContentLoaded', () => {
            const typingEffect = document.querySelector('.typing-effect');
            typingEffect.addEventListener('animationend', () => {
                // 애니메이션이 끝난 후 클래스 추가
                typingEffect.classList.add('finished');
            });
        });
    </script>

</body>
</html>